# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count =  school_data_complete['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [4]:
# Calculate the total budget per school_create dataFrame
total_budget_per_school = school_data_complete.groupby('school_name')['budget'].mean()
total_budget_per_school.columns=['school_name','budget']

# Reset the index of the DataFrame
total_budget_per_school = total_budget_per_school.reset_index()

# Calculate the total budget
total_budget = total_budget_per_school['budget'].sum()
total_budget

24649428.0

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate passing reading percentage
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["reading_score"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({'Total Schools': [school_count],'Total Students': [student_count],'Total Budget': [total_budget] ,'AVG Math Score':[average_math_score],'AVG Reading Score':[average_reading_score],'% Passing Math':[passing_math_percentage], '% Passing Reading':[passing_reading_percentage] ,'% Overall Passing Rate': [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].round(2)
district_summary["% Passing Math"] = district_summary["% Passing Math"].round(2)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].round(2)
district_summary["AVG Math Score"] = district_summary["AVG Math Score"].round(2)
district_summary["AVG Reading Score"] = district_summary["AVG Reading Score"].round(2)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,AVG Math Score,AVG Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## School Summary

In [11]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [12]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).nunique()['Student ID']

In [13]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [14]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [15]:
# Filter the data to only include students who passed math
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

# Group by school_name and count the number of students who passed math
passing_math_students_by_school = passing_math.groupby("school_name").size()

#total students per school
total_students_per_school = school_data_complete.groupby("school_name").size()

#Find passing rate per school for students who passed math
total_pass_math__percent_per_school = passing_math_students_by_school / total_students_per_school
total_pass_math__percent_per_school = total_pass_math__percent_per_school.reset_index()
total_pass_math__percent_per_school = total_pass_math__percent_per_school.rename(columns={"school_name": "school_name", 0: "avg_pass_math"})

# Filter the data to only include schools that passed math with scores of 70 or higher
filter_total_schools_pass_math = total_pass_math__percent_per_school[(total_pass_math__percent_per_school["avg_pass_math"] >= 0.70)]

# Calculate the schools that passed math with scores of 70 or higher
total_schools_pass_math =  filter_total_schools_pass_math['school_name'].nunique()
total_schools_pass_math

8

In [16]:
# Filter the data to only include students who passed reading
passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

# Group by school_name and count the number of students who passed reading
passing_reading_students_by_school = passing_reading.groupby("school_name").size()

#total students per school
total_students_per_school = school_data_complete.groupby("school_name").size()

#Find passing rate per school for students who passed reading
total_pass_reading__percent_per_school = passing_reading_students_by_school / total_students_per_school
total_pass_reading__percent_per_school = total_pass_reading__percent_per_school.reset_index()
total_pass_reading__percent_per_school = total_pass_reading__percent_per_school.rename(columns={"school_name": "school_name", 0: "avg_pass_reading"})

# Filter the data to only include schools that passed reading with scores of 70 or higher
filter_total_schools_pass_reading = total_pass_reading__percent_per_school[(total_pass_reading__percent_per_school["avg_pass_reading"] >= 0.70)]

# Calculate the schools that passed reading with scores of 70 or higher
total_schools_pass_reading =  filter_total_schools_pass_reading['school_name'].nunique()
total_schools_pass_reading

15

In [17]:
# Filter the data to only include students who passed both math and reading
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

# Group by school_name and count the number of students who passed both math and reading
passing_math_and_reading_by_school = passing_math_and_reading.groupby("school_name").size()

# Group by school_name and count the number of students
total_math_sci_per_school = school_data_complete.groupby("school_name").size()

#Find passing rate per school for students who passed both math & science
total_math_sci_percent_per_school = passing_math_and_reading.groupby("school_name").size() / school_data_complete.groupby("school_name").size()

# Create DataFrame
total_math_sci_percent_per_school = passing_math_and_reading.groupby("school_name").size() / school_data_complete.groupby("school_name").size()
total_math_sci_percent_per_school = total_math_sci_percent_per_school.reset_index()
total_math_sci_percent_per_school = total_math_sci_percent_per_school.rename(columns={"school_name": "school_name", 0: "avg_pass_both_math_and_reading"})

# Filter the data to only include students with score >= 70
total_passing_math_sci_percent_per_school = total_math_sci_percent_per_school[(total_math_sci_percent_per_school["avg_pass_both_math_and_reading"] >= 0.70)]

# Calculate the schools that passed both math and reading with scores of 70 or higher
total_schools_passing_math_sci =  total_passing_math_sci_percent_per_school['school_name'].nunique()
total_schools_passing_math_sci

8

In [31]:
# Use the provided code to calculate the passing math rates
per_school_passing_math = (school_data_complete[(school_data_complete["math_score"] >= 70)].groupby(["school_name"]).count()["Student ID"] / per_school_counts) * 100
per_school_passing_reading = (school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby(["school_name"]).count()["Student ID"] / per_school_counts) * 100
overall_passing_rate = (school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby(["school_name"]).count()["Student ID"] / per_school_counts) * 100

In [30]:
# Calculate the percent passing math, reading, and overall for each school
per_school_types = school_data_complete[['school_name', 'type']].drop_duplicates().set_index('school_name')['type']
per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby("school_name").nunique()["Student ID"]
per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby("school_name").nunique()["Student ID"]
per_school_passing_math_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name").nunique()["Student ID"]
per_school_counts = school_data_complete.groupby("school_name").nunique()["Student ID"]
per_school_math_scores = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading_scores = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

percent_passing_math = per_school_passing_math / per_school_counts * 100
percent_passing_reading = per_school_passing_reading / per_school_counts * 100
percent_overall_passing = per_school_passing_math_reading / per_school_counts * 100

# Create a dataframe to hold the above results
per_school_summary = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math_scores,
    "Average Reading Score": per_school_reading_scores,
    "% Passing Math": percent_passing_math,
    "% Passing Reading": percent_passing_reading,
    "% Overall Passing": percent_overall_passing
})

# Formatting
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.0f}'.format)
per_school_summary['Total Students'] = per_school_summary['Total Students'].map('{:,.0f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].map('{:.2f}'.format)
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].map('{:.2f}'.format)
per_school_summary['% Passing Math'] = per_school_summary['% Passing Math'].map('{:.1f}%'.format)
per_school_summary['% Passing Reading'] = per_school_summary['% Passing Reading'].map('{:.1f}%'.format)
per_school_summary['% Overall Passing'] = per_school_summary['% Overall Passing'].map('{:.1f}%'.format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.00,77.05,81.03,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916",$644.00,77.10,80.75,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087",$581.00,83.80,83.81,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07,80.97,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600",$600.00,83.36,83.73,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400",$583.00,83.68,83.95,93.3%,96.6%,90.3%

## Highest-Performing Schools (by % Overall Passing)

In [34]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
# Sort the DataFrame by the 'math_score' column in descending order
sorted_df = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Filter for the top 5 rows
highest_performing = sorted_df.head(5)
highest_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582.00,83.06,83.98,94.1%,97.0%,91.3%
Thomas High School,Charter,"1,635","$1,043,130",$638.00,83.42,83.85,93.3%,97.3%,90.9%
Griffin High School,Charter,"1,468","$917,500",$625.00,83.35,83.82,93.4%,97.1%,90.6%
Wilson High School,Charter,"2,283","$1,319,574",$578.00,83.27,83.99,93.9%,96.5%,90.6%
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

In [35]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
# Sort the DataFrame by the 'math_score' column in descending order
sorted_df = per_school_summary.sort_values('% Overall Passing', ascending=True)

# Filter for the top 5 rows
lowest_performing = sorted_df.head(5)
lowest_performing

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637.00,76.84,80.74,66.4%,80.2%,53.0%
Figueroa High School,District,"2,949","$1,884,411",$639.00,76.71,81.16,66.0%,80.7%,53.2%
Hernandez High School,District,"4,635","$3,022,020",$652.00,77.29,80.93,66.8%,80.9%,53.5%
Huang High School,District,"2,917","$1,910,635",$655.00,76.63,81.18,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650.00,77.07,80.97,66.1%,81.2%,53.5%

## Math Scores by Grade

In [36]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby("school_name").mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby("school_name").mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby("school_name").mean()["math_score"]

# Combine each of the series above into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [37]:
# Compute the mean reading scores for each grade by grouping the data by school and grade, and then taking the mean of the "reading_score" column.
ninth_graders_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_graders_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine the mean reading scores for each grade for each school into a new DataFrame called `reading_scores_by_grade`.
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
})

# Sort the schools alphabetically by their name in the `reading_scores_by_grade` DataFrame.
reading_scores_by_grade = reading_scores_by_grade.sort_index()

# Format the DataFrame to have the column labels as "9th", "10th", "11th", and "12th".
reading_scores_by_grade.index.name = None
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [68]:
# Remove the dollar sign from the "Per Student Budget" column and convert to a numeric type.
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace('[\$,]', '', regex=True).astype('float')

In [179]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 675]
group_labels = ["<$585", "$585-630", "$630-645", "$645-675"]

In [70]:
# # Create a copy of the school summary since it has the "Per Student Budget" 
# school_spending_df = per_school_summary.copy()

In [180]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=group_labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",628.0,77.05,81.03,66.7%,81.9%,54.6%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356",582.0,83.06,83.98,94.1%,97.0%,91.3%,<$585
Figueroa High School,District,"2,949","$1,884,411",639.0,76.71,81.16,66.0%,80.7%,53.2%,$630-645
Ford High School,District,"2,739","$1,763,916",644.0,77.10,80.75,68.3%,79.3%,54.3%,$630-645
Griffin High School,Charter,"1,468","$917,500",625.0,83.35,83.82,93.4%,97.1%,90.6%,$585-630
Hernandez High School,District,"4,635","$3,022,020",652.0,77.29,80.93,66.8%,80.9%,53.5%,$645-675
Holden High School,Charter,427,"$248,087",581.0,83.80,83.81,92.5%,96.3%,89.2%,<$585
Huang High School,District,"2,917","$1,910,635",655.0,76.63,81.18,65.7%,81.3%,53.5%,$645-675
Johnson High School,District,"4,761","$3,094,650",650.0,77.07,80.97,66.1%,81.2%,53.5%,$645-675
Pena High School,Charter,962,"$585,858",609.0,83.84,84.04,94.6%,95.9%,90.5%,$585-630
Rodriguez High School,District,"3,999","$2,547,363",637.0,76.84,80.74,66.4%,80.2%,53.0%,$630-645
Shelton High School,Charter,"1,761","$1,056,600",600.0,83.36,83.73,93.9%,95.9%,89.9%,$585-630
Thomas High School,Charter,"1,635","$1,043,130",638.0,83.42,83.85,93.3%,97.3%,90.9%,$630-645
Wilson High School,Charter,"2,283","$1,319,574",578.0,83.27,83.99,93.9%,96.5%,90.6%,<$585
Wright High School,Charter,"1,800","$1,049,400",583.0,83.68,83.95,93.3%,96.6%,90.3%,<$585

In [ ]:
#  Calculate averages for the desired columns....I can't seem to get this code block working for some reason
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})
# Display results
spending_summary

## Scores by School Size

In [113]:
# Remove the comma from the "Total Students" column and convert to a numeric type.
per_school_summary["Total Students"] = per_school_summary["Total Students"].astype(str).str.replace(",", "").astype(int)

In [114]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [115]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928",$628.00,77.05,81.03,66.7%,81.9%,54.6%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356",$582.00,83.06,83.98,94.1%,97.0%,91.3%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411",$639.00,76.71,81.16,66.0%,80.7%,53.2%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916",$644.00,77.10,80.75,68.3%,79.3%,54.3%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500",$625.00,83.35,83.82,93.4%,97.1%,90.6%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020",$652.00,77.29,80.93,66.8%,80.9%,53.5%,Large (2000-5000)
Holden High School,Charter,427,"$248,087",$581.00,83.80,83.81,92.5%,96.3%,89.2%,Small (<1000)
Huang High School,District,2917,"$1,910,635",$655.00,76.63,81.18,65.7%,81.3%,53.5%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650",$650.00,77.07,80.97,66.1%,81.2%,53.5%,Large (2000-5000)
Pena High School,Charter,962,"$585,858",$609.00,83.84,84.04,94.6%,95.9%,90.5%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363",$637.00,76.84,80.74,66.4%,80.2%,53.0%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600",$600.00,83.36,83.73,93.9%,95.9%,89.9%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130",$638.00,83.42,83.85,93.3%,97.3%,90.9%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574",$578.00,83.27,83.99,93.9%,96.5%,90.6%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400",$583.00,83.68,83.95,93.3%,96.6%,90.3%,Medium (1000-2000)

In [191]:
# # Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [192]:
# # Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# # Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.820,83.92500,93.5500,96.10,89.850
Medium (1000-2000),83.374,83.86600,93.6000,96.78,90.600
Large (2000-5000),77.745,81.34375,69.9875,82.75,58.275

## Scores by School Type

In [165]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby("School Type")["Average Math Score"].mean()
type_reading_scores = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
type_passing_math = per_school_summary.groupby("School Type")["% Passing Math"].mean()
type_passing_reading = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby("School Type")["% Overall Passing"].mean()

# # Use the code provided to select new column data...I skipped this code block and went straight to create DataFrame in next cell
# average_math_score_by_type = type_math_scores["Average Math Score"]
# average_reading_score_by_type = type_reading_scores["Average Reading Score"]
# average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
# average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
# average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [169]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.896250,93.625000,96.575000,90.412500
District,76.955714,80.965714,66.571429,80.785714,53.657143

# Final Analysis

### In summary
- The overall passing rate for all schools is less than 70%
- This is specifically driven by all distric schools, with an overall passing rate of 54% vs the charter schools having an overall passing rate of 90%
-In particular, the district schools seem to be struggling quite a bit in the math category that's driving this down, with 67% of students all passing with a score of 70 or above